<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="loginForm.get('email')?.touched">
          <p *ngIf="loginForm.get('email')?.hasError('required')" style="color: #ff0000;">Email is required.</p>
          <p *ngIf="loginForm.get('email')?.hasError('email')" style="color: #ff0000;">Invalid email format.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched">
          <p *ngIf="loginForm.get('password')?.hasError('required')" style="color: #ff0000;">Password is required.</p>
        </div>
      </div>
      <div class="form-buttons">
        <div class="login-button">
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="forgot-password">
          <button type="button" (click)="redirectToForgotPassword()">Forgot Password</button>
        </div>
        <div class="register-button">
          <button type="button" (click)="redirectToRegister()">Register</button>
        </div>
      </div>
      <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)">
        <p class="error-message">Please enter valid email and password.</p>
      </div>
    </form>
  </div>
  