<google-map
  #map
  height="100vh"
  width="100%"
  [zoom]="zoom"
  [options]="options"
  [center]="center"
  (mapClick)="mapClick($event)"
></google-map>

<div class="floating-button-group">
  <button mat-raised-button color="primary" (click)="drawArea()">
    Draw Polygon
  </button>
  <button mat-raised-button color="primary" (click)="clearArea()">
    Clear Polygon
  </button>
  <button mat-raised-button color="primary" (click)="clearMarkers()">
    Clear Markers
  </button>
  <button mat-raised-button color="primary" (click)="calculateSolarInvestmentRevenue()">
    Calculate
  </button>
</div>